.grid-container {
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px 15px;
    background-color: chocolate;
    padding: 20px;
}
.grid-item {
    background-color: cadetblue;
    border:1px solid black;
    padding: 25px;
}