.flex-container {
    display: flex;
    height: 300px;
    /*align-items: center; - wyrownanie w poziomie*/
    /*align-items: flex-start;*/
    /*align-items: flex-end;*/
    /*align-items: stretch; rozciągnięcie divów na całą wysokość*/
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
.flex-container > div {
    width: 100px;
    background-color: brown;
    margin: 10px;
}