.karty {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.karta {
    flex:0 0 200px; /* no-shrink no-grow 200px - wszystkie mają 200px szerokości */
    margin: 10px;
    border: 2px solid black;
    box-shadow: 3px 2px 6px 0px rgba(0,0,0, 0.4);
}
.karta img {
    max-width: 100%;
}
.karta .text {
    padding: 0 25px 25px;
}
.karta .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 12px;
    width: 100%;
}